a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: cyan;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.body_wrapper {
    box-sizing: border-box;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}
html, body {
    box-sizing: border-box;
    height: 100%;
}
footer {
    background: gray;
    color: white;
    height: 64px;
    display: flex;
    align-items: center;
}
nav {
    background-color: forestgreen;
    padding: 10px;
    display: flex;
    gap: 20px;
}
nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: yellow;
    text-decoration: underline;
}
nav a:active {
    color: red;
}
nav a.current {
    color: pink;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: yellow; 
}
::-webkit-scrollbar-thumb {
  background: orange; 
}
::-webkit-scrollbar-thumb:hover {
  background: purple; 
}
form {
  width: 50%;
  margin: 40px auto;
  background-color: #d4f8d4;
  border: 2px solid #b08dd9;
  border-radius: 15px;
  padding: 25px;
  color: #6a0dad;
  font-family: Arial, sans-serif;
}
legend {
  background-color: #b08dd9;
  color: darkmagenta;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid #a26ad8;
}
label {
  display: inline-block;
  margin-bottom: 6px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 80%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
input[type="submit"] {
  background-color: #b08dd9;
  color: darkmagenta;
  font-size: 1.1em;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}